{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Zengxiang's Personal Website</title>
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="navbar-header">
			<h3><a class="navbar-brand" href="{% url 'app_pw:index' %}">
				Home
			</a></h3>

			

		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>Hello, {{ user.username }}.</li>
				
			</ul>

			<ul class="nav navbar-nav navbar-right">
            
              <li><a href="{% url 'app_pw:resume' %}">Resume</a></li>
              <li><a href="{% url 'users:logout' %}">log out</a></li>
              <li><a href="{% url 'app_pw:subjects' %}">Subjects</a></li>
              <li><a href="{% url 'app_pw:project' %}">Project</a></li>
            
              <li><a href="{% url 'users:login' %}">log in</a></li>
            
          </ul>			
		</div>		
	</nav>

	<div class="container">
		<div class="page-header">
			{% block header %} {% endblock header %}
		</div>
		<div >
			{% block content %} {% endblock content %}
		</div>
		
	</div>

</body>
</html>
