{% extends 'app_pw/base.html' %}
{% load bootstrap3 %}
{% block header %}
	<h2>
		Delete project : 
	<a href="{% url 'app_pw:project' project.id %}">{{project.pro_name}}</a>
	</h2>
{% endblock header %}

{% block content %}
	<form action="{% url 'app_pw:delete_project' project.id %}" method="post" class="form">
		{% csrf_token %}
		
		<p>Do you realy want to delete this project?</p>
		
		{% buttons %}
		<button name="submit" class="btn btn-danger"> Delete</button>
		{% endbuttons %}
	</form>
{% endblock content %}