{% extends 'app_pw/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %} 
	  <link href="{% static 'css/projects.css' %}" rel="stylesheet">
{% endblock css %}

{% block header %}
	<h2>Projects

		<small class="nav navbar-nav navbar-right">
			<a href="{% url 'app_pw:new_project' %}" >add new project</a>
		</small>
	</h2>

{% endblock header %}

{% block content %}
	<ul>
    {% for project in projects %}
    <div class="panel panel-default">
      <div class="panel-heading" style="padding-right: 2em">
        <h3>
          <a href="{% url 'app_pw:project' project.id %}">{{ project.pro_name}}</a>
          <small >
            {{ project.date_added|date:'M d, Y H:i'}}
          </small>
        </h3>       
      </div>
      
    <div class="panel-body">

      {% autoescape off %}

        {{project.text|truncatewords:20}}

      {% endautoescape %}
    

    </div>
  </div>
    {% empty %}
      <h3>There are no homeworks added </h3>
    {% endfor %}
  </ul>
{% endblock content %}