{% extends 'app_pw/base.html' %}

{% block header %}
	<h2> Homeworks - {{subject}} 
		<small>
			<a href="{% url 'app_pw:new_homework' subject.id %}">add new homework</a>
		</small>
	</h2>
{% endblock header %}

{% block content %}
	<ul>
		{% for homework in homeworks %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>
					{{ homework}}
					<small>
						{{ homework.date_added|date:'M d, Y H:i'}}
						<a href="">edit </a> <a href="{% url 'app_pw:delete_homework' subject.id homework.id %}">delete</a>
					</small>
				</h3>				
			</div>
			
		<div class="panel-body">
			{{ homework.text|linebreaks}}			
		</div>
	</div>
		{% empty %}
			<h3>There are no homeworks added </h3>
		{% endfor %}
	</ul>
	
{% endblock content %}